/* ---------stili per il menù--------------*/
.menu-container {
  background-color: #0e0f16;
  position: fixed; 
  width: 100%;
}

.menu {
  display: flex;
  align-items: center;
}

.logo img {
  width: 200px;
}

.menu-list {
  font-family: 'Cursive', cursive;
  font-size: 20px;
  list-style: none;
  display: flex;
  margin-left: 50px;
  margin-top: 100px;
}

.menu-list li {
  margin-right: 20px;
}

.menu-list li:last-child {
  margin-right: 0;
}

.menu-list a {
  text-decoration: none;
  color: white;
}

.user-menu {
  display: flex;
  margin-left: auto;
  margin-top: 70px;
  padding:0;
}

.login,
.cart {
  margin-right: 20px;
  color: white;
  padding: 5px;
  border: 1px solid white;
}

.login:hover,
.cart:hover {
  text-decoration: underline;
}

.content {
  margin-top: 80px;
}

/* --------- stili generali ---------*/
body{
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.6;
}

.path {
  font-family: Arial, sans-serif;
  color: rgb(105, 102, 102);
  font-size: 15px;
  margin-top: 20px;
}
.path a {
  text-decoration: none;
  color:  rgb(105, 102, 102);
}

.path a:visited {
  color:  rgb(105, 102, 102);
}

div:not([class]) {
  max-width: 900px; 
  margin: 0 auto; 
  text-align: justify; 
}

/*--------- prodotti ----------*/

.box-prodotti {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.prodotti {
  width: 25%; 
  padding: 20px;
  border: 1px solid #ddd; 
  margin: 5px; 
  text-align: center;
}

/*----------- negozio -----------------*/
.dove-siamo-box {
  background-color: #e2e2e2;
  padding: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #d05aff;
  border-radius: 5px;
  margin: 20px;
}

.box-assistenza {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}